*{
 
padding:0;
}
#main{
    margin-top:10px;
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;

}
.section{
    font-family:arial;
    background-color: black;
    color:white;
margin-bottom: 30px;
width:70%;
border: 1px solid black;
height:150px;
border-radius:10px;
display:flex;
justify-content:space-evenly;
align-items:center;
transition:0.35s all 0.1s ease-in-out;

}

img{
    height:100px;
    width: 100px;
    object-fit: cover;
    border-radius:50% ;

}
.content{
    display: flex;
    flex-direction:column;
justify-content:space-between;    
    width:70%;
  


}
h1{
    margin:0px;;
}
p{
    margin:2px;
}
.section:hover{
    transform:scale(1.1);
    line-height: 1.6;

}
.sec{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-content: flex-start;
    margin:10px  auto;
    width:50%;
    border:1px solid black;
    border-left:9px solid red;








}
.title,.text1,.input,.text2{
    margin:0 1em;
    margin-bottom:1em;
    

}
.title{
    margin-bottom: 8px;
}
.input{
    height:30px;
    width:100%;
}
.gro{
    border:7px solid black;
    width:0;
    transition: 0.35s all 1s ease-in-out;
}

.input,.text2{
    background-color:grey ;
    border:none;
    outline: none;

    transition: 0.35s all 1s ease-in-out;
}
.input:focus{
    height: 40px;
    font-size: larger;
    border-bottom:4px  solid;
}
.text2:focus{
    border-bottom:4px black solid;
    
}
.gro:hover{
    width: 100%;
}
.tof{
    border:1px solid black;
   width:80%;
   
}
/* @media(max-width:675px){
    .section{
        height:500px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .sec{
        width:100%;
    }
} */

@media(max-width:400px){
    body {
background-color: lawngreen;
    }

}
@media(min-width:400px){
    body {
background-color: blueviolet;
    }

}
@media(min-width:600px){
    body {
        background-color:darkred;
            }

}

#box {
    height: 70px;
    width: 70px;
    position: relative;
    border-bottom: 2px solid #0004ff;
    background: #cccaca;
  }
  
  #borderLeft {
    border-left: 2px solid #0004ff;
    position: absolute;
    top: 50%;

  }